#SubmitButton{
  color: #612776;
  text-align: center;
  text-decoration: underline;
  font-size : 30;
  font-family: Helvetica Neue;
  font-weight: 100;
  padding-top: 3px;
  border-radius: 25px;
  border: 2px solid #a80533;
  width: 115px;
  height: 55px;
  margin: 0 auto;
  transition: all .5s ease-in-out;

}
#SubmitButton:hover {
  width: 150px;
  height: 55px;
  background: #a80533;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  background-color: #a80533;
}
