input[type="radio"] {
  display:none;
}

label{
    width:1005px;
    height:40px;
    border-radius:2;
    border: 2px #3a3a3a solid;
    display:block;
    line-height:22px;
    text-align:center;
    color:black;
    font-size:40pt;
    cursor:pointer;
    background:white;
    position:relative;
    }
input:checked + label:before{
       opacity:1;
    }
    label:before{
        position:absolute;
        top:3px;
        left:3px;
        height:34px;
        width:19px;
        background:#3a3a3a ;
        content:'';
        opacity:0;
    }
