<html>
<title> Contact Input Form </title>
   <link rel="stylesheet" type="text/css" href="bootstrap.css">
   <link rel="stylesheet" type="text/css" href="style.css">
  <div id = "pageHeader"> Kent Denver Parking </div>
 </head>
 <body id = "mainpage">

<form method="POST" action="">

  <img src="kdslogo.png" alt="kdslogo" id="kdslogo">

<div id = "form">
 <div class="form-group">
  <input type="text" placeholder="Name" name="name" class="form-control" id="usr" required>
 </div>

 <div class="form-group">
  <input type="text" placeholder="Make and Model" name="makemodel" class="form-control" id="carMakeModel" required>
 </div>
 <div class="form-group">
  <input type="text" placeholder="License Plate" name="plate" class="form-control" id="plates" required>
 </div>
 <div class="form-group">
  <input type="text" placeholder="Sticker Number" name="sticker" class="form-control" id="stickerNum" required>
 </div>
 <input type="submit" id="SubmitButton">
  </div>
</form>
</body>

<div class="footer">
Created by: Shreyas Gupta &amp; Fahim Choudhury
</div>

</html>
