<title> Contact Input Form </title>
   <link rel="stylesheet" type="text/css" href="bootstrap.css">
   <link rel="stylesheet" type="text/css" href="style.css">
  <div id = "pageHeader"> Kent Denver Parking </div>
 </head>
 <body>

<form method="POST" action="">
 <div class="form-group">
  <input type="text" placeholder="Name" name="name" class="form-control" id="usr">
 </div>

 <div class="form-group">
  <input type="text" placeholder="Email" name="email" class="form-control" id="email">
 </div>

 <div class="form-group">
  <input type="text" placeholder="Make and Model" name="makemodel" class="form-control" id="carMakeModel">
 </div>
 <div class="form-group">
  <input type="text" placeholder="License Plate" name="plate" class="form-control" id="plates">
 </div>
 <div class="form-group">
  <input type="text" placeholder="Sticker Number" name="sticker" class="form-control" id="stickerNum">
 </div>
 <input type="submit" id="SubmitButton">
</form>
