<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="DiagramButtons.css">
    </head>
    <body>
        {{#each nums}}
            <input type="radio" name="group1" id="{{this}}">
            <label for="{{this}}">Text{{this}}</label>
        {{/each}}
    </body>
</html>
