<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="DiagramButtons.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="jquery.min.js"></script>
    </head>
    <body id = 'finalpage'>
    <a href = 'http://igraviti.com'>
      <div id = 'finalcontainer'>
        <div id = 'thanks'> Your session timed out! </div>
        <div id = 'message'> Please try again. </div>
        <div id = 'creators'> Created by: Shreyas Gupta and Fahim Choudhury || Class of 2017</div>
        <div id = 'link'> Powered by iGraviti</div>
      </div>
    </a>
    </body>
</html>
