<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="DiagramButtons.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="jquery.min.js"></script>
        <script src="update.js"></script>
    </head>
  <body id="waiting">
      <div id = 'currentpos'> You are currently <div id = 'posnum'> {{pos}} </div> in line. </div>

      <div class="footer">
        Created by: Shreyas Gupta &amp; Fahim Choudhury
      </div>

  </body>
</html>
