input[type="radio"] {
  display:none;
}

#header{
  font-size: 45px;
  font-family: Helvetica Neue;
  font-weight: 100;
  text-align: center;
}


label{
    flex-shrink: 0;
    width: 37px;
    height:40px;
    padding-top: 20px;
    border-radius:1px;
    margin-right: 3px;
    border: 2px #3a3a3a solid;
    line-height:25px;
    text-align:center;
    color:black;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 20px;
    cursor:pointer;
    background: #009933;
    position:relative;
    }

label.taken {
  background-color: #B20000;
}

#topSpots, #firstRow, #secondRow, #thirdRow, #fourthRow {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

#middleSection {
  margin-left: 3%;
  margin-right: 3%;
}

#spots {
  overflow-x: auto;
  padding-bottom: 20px;
}

.arrows {
  font-size: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

#bottomSpots1 {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  float: left;
}

#entrance {
  width:100px;
}

input:checked + label:before{
       opacity:.6;
    }
    label:before{
        position:absolute;
        top:0px;
        left:-2px;
        height:60px;
        width:40px;
        background: #262626;
        content:'';
        opacity:0;
    }
