input[type="radio"] {
  display:none;
}

#header{
  font-size: 45px;
  font-family: Helvetica Neue;
  font-weight: 100;
  text-align: center;
}

label{
    width: 60px;
    height:40px;
    padding-top: 20px;
    padding-right: 4px;
    border-radius:1px;
    border: 2px #3a3a3a solid;
    display:inline;
    line-height:150px;
    text-align:center;
    color:black;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 40px;
    cursor:pointer;
    background:white;
    position:inline;
    }
input:checked + label:before{
       opacity:.6;
    }
    label:before{
        position:absolute;
        top:5px;
        left:5px;
        height:50px;
        width:75px;
        background:#3a3a3a ;
        content:'';
        opacity:0;
    }
