#pageHeader {
    /*font-size: 30px;
    margin: 0 auto;
    width: 280px;
    padding-bottom: 1%;
    padding-top: 1%;*/
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
  }

  .footer{
    position: fixed;
    bottom: 0px;
    background-color: #152f56;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    height: 30px;
  }

.pageFooter {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.pageFooter h1 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 color: #111;
 font-family: 'Helvetica Neue', sans-serif;
 font-size: 20px;
 letter-spacing: -1px;
 line-height: 1;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

  input[type="submit"]{
    color: #612776;
    background: white;
    text-align: center;
    font-size : 28;
    font-family: Helvetica Neue;
    font-weight: 200;
    border-radius: 15px;
    border: 2px solid #a80533;
    width: 115px;
    height: 47px;
    display: block;
    margin: 0 auto;
    width: 20%;
  }
  input[type="submit"]:hover {
    /*width: 150px;*/
    height: 47px;
    background: #a80533;
    /*-webkit-transition: width 1s; /* Safari */*/
    /*transition: width 1s;*/
    background-color: #a80533;
  }

  .form-group {
    /*margin: 0 auto;
    width: 50%;*/
  }

  #form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;
  }

  input[type="text"] {
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  input[type="text"]:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
